*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container{
    background-color: #494444;
}

.title{
    margin-top: 45px;
    text-align: center;
    color:  #fff;
}
.text{
    margin-top: 45px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 0px 200px 0px 200px;
}

.h2-title{
    margin-top: 45px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.text-carusel{
    color: black;
}

.h5{
    color: black;
}

.text-carusel-1{
    color: rgb(255, 255, 255);
}

.h5-1{
    color: rgb(255, 255, 255);
}

.big{
    display: flex;
}

.small{
    margin-left: 120px;
    margin-top: 45px;
    background-color: #05333f96;
    width: 250px;
    height: 300px;
}

.small1{
    margin-left: 120px;
    margin-top: 45px;
    background-color: #05333f96;
    width: 250px;
    height: 325px;
}

.img{
    width: 250px;
    height: 150px;
}

.h2-1{
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 40px;
}

.h4{
    margin-top: 12px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}

.text-small{
    margin-top: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: sans-serif;
}

.btn{
    margin-left: 75px;
    background-color: royalblue;
}

.h2-title-1{
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 40px;
}

.card{
    background-color: #000000;
    margin-top: 30px;
}

.description{
    margin-top: 10px;
    text-align: center;
    color: rgb(90, 89, 88);
}